<div class="panel panel-primary text-center <%= Rails.env %>">
  <div class="panel-heading">
    <h2 class="panel-title">Permissions</h2>
  </div>
  <div class="panel-body">
    <br>
    <p>Assign deputies to share guardianship of your samples.</p>
    <br>
  </div>
  <div class="panel-footer">
    <!--
    <%= link_to 'Stamps', "#{Rails.application.config.urls[:permissions]}/stamps",
          class: 'btn btn-sm btn-default', style: 'margin-right: 10px' %>
    -->
    <%= link_to 'Deputies', "#{Rails.application.config.urls[:permissions]}/deputies",
          class: 'btn btn-sm btn-default' %>
  </div>
</div>
