<div class="panel panel-primary text-center <%= Rails.env %>">
  <div class="panel-heading">
    <h2 class="panel-title">Projects</h2>
  </div>
  <div class="panel-body">
    <p>Create and organise your projects. Projects are organised hierarchically under scientific programmes,
      and may have an associated budget.</p>
  </div>
  <div class="panel-footer">
    <%= link_to 'View Projects', "#{Rails.application.config.study_management_url}",
          class: 'btn btn-sm btn-default' %>
  </div>
</div>
