<div class="panel panel-primary text-center <%= Rails.env %>"">
  <div class="panel-heading">
    <h2 class="panel-title">Sets</h2>
  </div>
  <div class="panel-body">
    <p>A service to organise your samples into sets.
      Sets may be purely to organise samples into meaningful groups to you,
      or to group samples to create work orders.
      Permissions can optionally be applied here.</p>
  <%= link_to 'Simple', "#{Rails.application.config.set_shaper_url}/simple",
        class: 'btn btn-sm btn-default', style: 'margin-right: 10px', target: '_blank' %>
  <%= link_to 'Advanced', "#{Rails.application.config.set_shaper_url}/advanced",
        class: 'btn btn-sm btn-default', target: '_blank' %>
  </div>
</div>
