<h5>Sets</h5>
<p>A service to organise your samples into sets. Sets may be purely to organise samples into meaningful groups to you, or to group samples to create work orders. Permissions can optionally be applied here.</p>
