<div class="panel panel-primary text-center">
  <div class="panel-heading">
    <h2 class="panel-title">Work Orders</h2>
  </div>
  <div class="panel-body">
    <p>A service to request work for named products offered by scientific operations.</p>
    <%= link_to 'View Work Orders', "#{Rails.application.config.work_orders_url}",
          class: 'btn btn-sm btn-default', style: 'margin-right: 10px' %>
    <%= link_to 'Create', "#{Rails.application.config.work_orders_url}/work_orders",
          class: 'btn btn-sm btn-success', method: 'post' %>
  </div>
</div>
