<div class="panel panel-primary text-center <%= Rails.env %>">
  <div class="panel-heading">
    <h2 class="panel-title">Work Orders</h2>
  </div>
  <div class="panel-body">
    <p>Request work for named products offered by scientific operations. Work orders are created with a set of material and a sub-project.</p>
  </div>
  <div class="panel-footer">
    <%= link_to 'View Work Orders', "#{Rails.application.config.work_orders_url}",
          class: 'btn btn-sm btn-default', style: 'margin-right: 10px' %>
    <%= link_to 'Create', "#{Rails.application.config.work_orders_url}/work_plans",
          class: 'btn btn-sm btn-success', method: 'post' %>
  </div>
</div>
