@import "bootstrap-sprockets";
@import "paper.min";

body {
  background-color: #f4f4f4;
}

.navbar {
  border-radius: 0px;
}

.container#content {
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

.navbar-text {
  color: #b2dbfb !important;
}

.dropdown-menu {
  margin-left: -14px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.service:hover {
  cursor: pointer;
  h5 {
    text-decoration: underline;
  }
  text: bold;
  /*border-color: lightgray;
  border-style: line;
  border-width: 1px;
  border-style: dashed;*/
  cursor: pointer;
}
