@import "bootstrap-sprockets";
@import "paper.min";
@import "navbar"; // Pulled from the aker_shared_navbar engine

// Mobile optimisations
@media only screen and (max-width: 768px)  {
  .btn {
    margin-bottom: 5px;
    margin-right: 0px !important;
  }
}

// Panel headers. Colours are inherited from imported navbar
.development.panel-primary > .panel-heading {
  background-color: $development;
}

.disp.panel-primary > .panel-heading {
  background: $disp;
}

.wip.panel-primary > .panel-heading {
  background: #EE0979;
}

.uat.panel-primary > .panel-heading {
  background-color: $uat;
}

.prod.panel-primary > .panel-heading {
  background: #373b44;
}
