@import "bootstrap-sprockets";
@import "paper.min";

body {
  background-color: #f4f4f4;
}

.navbar {
  border-radius: 0px;
}

.container#content {
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

.navbar-text {
  color: #b2dbfb !important;
}

.dropdown-menu {
  margin-left: -14px;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.service:hover {
  cursor: pointer;
  h5 {
    text-decoration: underline;
  }
  text: bold;
  /*border-color: lightgray;
  border-style: line;
  border-width: 1px;
  border-style: dashed;*/
  cursor: pointer;
}

// Align dropdown menu with "Aker" button when on desktop
@media only screen and (min-width: 769px)  {
  .dropdown-menu {
    margin-left: -14px;
  }
}

// Mobile optimisations
@media only screen and (max-width: 768px)  {
  .navbar-text {
    // Add margin to Aker button so it isn't touch the edge of the display on mobile
    margin: 10px 15px;
  }
  .nav {
    margin: 0px;
  }
  .navbar-toggle {
    margin: 10px 10px 0px;
  }
  .navbar-brand {
    padding: 20px 15px 0px !important;
  }
  .btn {
    margin-bottom: 5px;
    margin-right: 0px !important;
  }
}

// Make navbar text white
.navbar-text, .navbar-inverse .navbar-nav > li > a {
  color: white !important;
}


// LOCAL DEVELOPMENT environment
$development: #441f84;
// Set colour for Aker button background
#development.navbar-inverse .navbar-nav > .open > a {
  background-color: darken($development, 12.5%);
  &:hover, &:focus {
    background-color: darken($development, 12.5%);
  }
}
// Navigation bar background colour
#development {
  background-color: $development;
}
#current-page-development {
  background-color: darken($development, 12.5%);
  font-weight: bold;
}


// STAGING environment
$dev: #1f7a30;
// Set colour for Aker button background
#dev.navbar-inverse .navbar-nav > .open > a {
  background-color: darken($dev, 12.5%);
  &:hover, &:focus {
    background-color: darken($dev, 12.5%);
  }
}
// Navigation bar background colour
#dev {
  background-color: $dev;
}
#current-page-dev {
  background-color: darken($dev, 12.5%);
  font-weight: bold;
}


// UAT environment
$uat: #2196F3;
// Set colour for Aker button background
#uat.navbar-inverse .navbar-nav > .open > a {
  background-color: darken($uat, 12.5%);
  &:hover, &:focus {
    background-color: darken($uat, 12.5%);
  }
}
// Navigation bar background colour
#uat {
  background-color: $uat;
}
#current-page-uat {
  background-color: darken($uat, 12.5%);
  font-weight: bold;
}


// PRODUCTION environment
$production: #2196F3;
// Set colour for Aker button background
#production.navbar-inverse .navbar-nav > .open > a {
  background-color: darken($production, 12.5%);
  &:hover, &:focus {
    background-color: darken($production, 12.5%);
  }
}
// Navigation bar background colour
#production {
  background-color: $production;
}
#current-page-production {
  background-color: darken($production, 12.5%);
  font-weight: bold;
}
