@import "bootstrap-sprockets";
@import "paper.min";

body {
  background-color: #e0ebeb;
}

.container#content {
  margin-top: 20px;
  padding-bottom: 10px;
  background-color: white;
  margin-bottom: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 35px;
}

.navbar-text {
  color: #b2dbfb !important;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: inherit;
    font-weight: inherit;
}

.service:hover {
  cursor: pointer;
  h5 {
    text-decoration: underline;
  }
  text: bold;
  /*border-color: lightgray;
  border-style: line;
  border-width: 1px;
  border-style: dashed;*/
  cursor: pointer;
}